* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover { */
/*     background-color: #a37800; */
/* } */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #64727D;
    border-radius: 7px;
}


#clock {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-vpn {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-vpn.on {
    background-color: #64727D;
    border-radius: 7px;
    color: #26A65B;
}

#custom-vpn.connecting {
    background-color: #64727D;
    border-radius: 7px;
    box-shadow: inset 0 -3px #F39C12;
    animation: blink 1s infinite;
}

#custom-vpn.off {
    background-color: transparent;
    color: #E74C3C;
}

#custom-vpn:hover {
    background: rgba(0, 0, 0, 0.2);
}

@keyframes blink {
    0% { opacity: 0.7; }
    50% { opacity: 1.0; }
    100% { opacity: 0.7; }
}
